// color variables used

// background
$background-color: #FFFFFF;

// accent color
$accent-first-color: #008E75;
$accent-second-color: #F9A800;
$accent-third-color: #95C393;

// text color
$text-first-color: #000000;
$text-second-color: #2E2E2E;

// font variables used
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Noto+Sans+Mono&display=swap');
$font-family: 'Mulish', sans-serif;
$font-family-mono: 'Noto Sans Mono', monospace;