//- index.jade
- var title = "DATOPTRON - Data Transformation"
- var page = "Data Transformation"

doctype html
html(lang="en")

	// html head
	head
		include ./includes/head.pug

	// body
	body

		// header
		include ./includes/header.pug

		// page main
		main(role="main")

			// grid
			section.servicegrid 
				.container 

					// grid
					.grid

						// bg
						img.bg(src="img/img-service.png")
						
						// title text
						.service-title 
							.lbl OUR SERVICES 
							h1 Data Transformation
							p Analyzing information requires structured and accessible data for best results. Data transformation enables organizations to alter the structure and format of raw data as needed. Learn how your enterprise can transform its data to perform analytics efficiently. 
			
			// service explanation
			section.service-description 
				.container 

					// heading
					.text
						h2 
							| What is 
							span.green Data Transformation

					// row
					.row 

						// left
						.col-xl-6.col-lg-6.left
							p Data transformation is the process of changing the format, structure, or values of data. For data analytics projects, data may be transformed at two stages of the data pipeline. Organizations that use on-premises data warehouses generally use an ETL (extract, transform, load) process, in which data transformation is the middle step. Today, most organizations use cloud-based data warehouses, which can scale compute and storage resources with latency measured in seconds or minutes. The scalability of the cloud platform lets organizations skip preload transformations and load raw data into the data warehouse, then transform it at query time — a model called ELT ( extract, load, transform).

						// right
						.col-xl-6.col-lg-6.right 
							p Processes such as data integration, data migration, data warehousing, and data wrangling all may involve data transformation. Data transformation may be constructive (adding, copying, and replicating data), destructive (deleting fields and records), aesthetic (standardizing salutations or street names), or structural (renaming, moving, and combining columns in a database). An enterprise can choose among a variety of ETL tools that automate the process of data transformation. Data analysts, data engineers, and data scientists also transform data using scripting languages such as Python or domain-specific languages like SQL.

					// row

			// main heading
			section.mainheading
				.container

					// wrap
					.wrap 
						h1 Lorem Ipsum 
							span.green Dolor Sit
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			
			// service steps
			section.service-steps
				.container 

					// ul
					ul
						li
							span.title Lorem ipsum dolor sit amet
							.bullet
								.line
									img(src="img/ic-bullet.png")
								span.description 
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						li
							span.title Lorem ipsum dolor sit amet
							.bullet
								.line
									img(src="img/ic-bullet.png")
								span.description 
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						li
							span.title Lorem ipsum dolor sit amet
							.bullet
								.line
									img(src="img/ic-bullet.png")
								span.description 
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			// projects
			section.home-projects.service

				// character
				img.oval( src="img/ic-oval-2.png" )
				
				// container
				.container 

					// row
					.row 
						// left
						.col-xl-4.col-lg-4.left.service 

							// character
							img.character( src="img/img-character-2.png" )
							h2
								| Datoptron 
								span.green Services
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.

						
						// right
						.col-xl-8.col-lg-8.right.service

							// row
							.row 

								// left
								.col-xl-6.col-lg-6.col-md-6

									// ul
									ul 
										li 
											a( href="#" )
												.text
													h3 Data Transformation 
													p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
										li 
											a( href="#" )
												.text
													h3 Linked Data Publication 
													p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
										li 
											a( href="#" )
												.text
													h3 Linked Data Integration 
													p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
								
								// left
								.col-xl-6.col-lg-6.col-md-6

									// ul
									ul 
										li 
											a( href="#" )
												.text
													h3 Platform Development 
													p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.

										li 
											a( href="#" )
												.text
													h3 User Engagement 
													p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.

										li 
											a( href="#" )
												.text
													h3 Use of Standards &amp; Vocabularies 
													p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.

		// footer
		include ./includes/footer.pug

	// javascript
	include ./includes/script.pug