//- index.jade
- var title = "DATOPTRON"
- var page = "Homepage"

doctype html
html(lang="en")

	// html head
	head
		include ./includes/head.pug

	// body
	body

		// header
		include ./includes/header.pug

		// page main
		main(role="main")

			// banner
			section.home-banner
				.container 

					// left
					.left 

						// heading
						h1 
							| Give Meaning to your 
							span.green Data
						h4 We keep your data organised, well-formed and semantically linked.
						p Datoptron is a spinoff company of the National Technical University of Athens in the area of Artificial Intelligence. We leverage 20 years experience in Semantic Technologies, Machine Learning and Crowdsourcing. 

						// navigation
						a(href="aboutus.html") Learn More

					// right
					.right 

						// banner text
						.banner-text
							.line.connectright
								span.connect DATA 
								span TRANSFORMATION 
							.line.connectleft
								span.connect LINKED 
								span.invert DATA 
							.line.connectright
								span.invert INTEGRATION 
							.line
								span PUBLICATION
							.comment
								img( src="img/ic-comment.png")

 

			// services
			section.home-services
				.container

					// character
					img.character( src="img/img-character-1.png" )

					// label
					.lbl OUR SERVICES
					h2 
						span.green Organised Data 
						| driven by experiences in Semantic Technologies and Machine Learning
					
					// service list
					.service-list 

						// row
						.row 
							.item.col-xl-4.col-lg-4.col-md-6 
								span.number 01
								h3 Data Transformation
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							.item.col-xl-4.col-lg-4.col-md-6
								span.number 02
								h3 Linked Data Integration
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							.item.col-xl-4.col-lg-4.col-md-6
								span.number 03
								h3 Linked Data Publication
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

							.item.col-xl-4.col-lg-4.col-md-6 
								span.number 04
								h3 Platform Development
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							.item.col-xl-4.col-lg-4.col-md-6 
								span.number 05
								h3 User Engagement
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							.item.col-xl-4.col-lg-4.col-md-6 
								span.number 06
								h3 Use of Standards and Vocabularies
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

					

			// projects
			section.home-projects

				// character
				img.oval( src="img/ic-oval-2.png" )
				
				// container
				.container 

					// row
					.row 
						// left
						.col-xl-5.col-lg-5.left 

							// character
							img.character( src="img/img-character-2.png" )
							h2
								| Datoptron 
								span.green Tools
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.

							// navigation
							a(href="tools.html") View More
						
						// right
						.col-xl-7.col-lg-7.right

							// ul
							ul 
								li 
									a( href="#" )
										img( src="img/ic-logo-with.png" )
										.text
											h3 MINT 
											p Metadata Interoperability Platform (MINT) aims to systematise and spread knowledge about participatory projects in the field of cultural heritage and beyond.
								li 
									a( href="#" )
										img( src="img/ic-logo-sage.png" )
										.text
											h3 SAGE 
											p SAGE is a semantic enrichment and validation platform developed by the National Technical University of Athens (NTUA).
								li 
									a( href="#" )
										img( src="img/ic-logo-d2.png" )
										.text
											h3 D2RML 
											p Language for creating RDF datasets from heterogeneous datasets. The main mechanism of obtaining RDF data from a dataset is a mapping.

								li 
									a( href="#" )
										img( src="img/ic-logo-crowd.png" )
										.text
											h3 CrowdHeritage 
											p CrowdHeritage is an open platform where cultural heritage institutions can share their collections’ metadata that need a fix or enrichment.

			// call to action
			section.home-calltoaction
				.container

					// heading
					.text
						h2
							| Discover how you can embrace your data, explore 
							span.green new insights 
							| and drive 
							span.green new value 
							| for your organization
						p We are a group of talented people including researchers, project managers, software developers, ontology engineers and machine learning experts with long experience working with standards and have contributed in the RDF, OWL and SKOS Working Groups of W3C. 
						a( href="contact.html") Let's Work Together
					
					// character
					img.character( src="img/img-character-3.png" )

		// footer
		include ./includes/footer.pug

	// javascript
	include ./includes/script.pug