//- index.jade
- var title = "DATOPTRON - Privacy Policy"
- var page = "Privacy Policy"

doctype html
html(lang="en")

	// html head
	head
		include ./includes/head.pug

	// body
	body

		// header
		include ./includes/header.pug

		// page main
		main(role="main")
			
			// main heading
			section.mainheading
				.container

					// wrap
					.wrap 
						h1 Privacy 
							span.green Policy
						p At Datoptron - Give meaning to your data, accessible from www.datoptron.gr, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Datoptron - Give meaning to your data and how we use it. If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.


			// generic layout
			section.twocolumns.privacy
				.container 

					// row
					.row 

						// left
						.col-xl-4.col-lg-4.col-md-4.left

							// sticky
							.sticky

								// oval
								img.oval( src="img/ic-oval-6.png" ) 

								// scrollspy
								ul.nav.navbar
									li.nav-item 
										a.nav-link(href="#privacy-consent")
											h4 Consent
									li.nav-item 
										a.nav-link(href="#privacy-information")
											h4 Information we collect
									li.nav-item 
										a.nav-link(href="#privacy-how")
											h4 How we use your information
									li.nav-item 
										a.nav-link(href="#privacy-advertising")
											h4 Advertising Partners Privacy Policies
									li.nav-item 
										a.nav-link(href="#privacy-thirdparty")
											h4 Third Party Privacy Policies
									li.nav-item 
										a.nav-link(href="#privacy-ccpa")
											h4 CCPA Privacy Rights
									li.nav-item 
										a.nav-link(href="#privacy-gdpr")
											h4 GDPR Data Protection Rights
									li.nav-item 
										a.nav-link(href="#privacy-children")
											h4 Children's Information

						// left
						.col-xl-8.col-lg-8.col-md-8.right

							// content
							.wrap#privacy-consent

								// 
								p 
									b 
										i This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Datoptron - Give meaning to your data. This policy is not applicable to any information collected offline or via channels other than this website. 
								
								h1 Consent 
								p By using our website, you hereby consent to our Privacy Policy and agree to its terms.

							// content
							.wrap#privacy-information

								h1 Information we collect
								p The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information. 
								p If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide. 
								p When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.

							// content
							.wrap#privacy-how

								h1 How we use your information
								p We use the information we collect in various ways, including to:
								ul 
									li  Provide, operate, and maintain our website
									li 	Improve, personalize, and expand our website
									li 	Understand and analyze how you use our website
									li 	Develop new products, services, features, and functionality
									li 	Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes
									li 	Send you emails
									li 	Find and prevent fraud
									li 	Log Files
								p Datoptron - Give meaning to your data follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.

							// content
							.wrap#privacy-advertising

								h1 Advertising Partners Privacy Policies
								p You may consult this list to find the Privacy Policy for each of the advertising partners of Datoptron - Give meaning to your data.
								p Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Datoptron - Give meaning to your data, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.
								p Note that Datoptron - Give meaning to your data has no access to or control over these cookies that are used by third-party advertisers.

							// content
							.wrap#privacy-thirdparty

								h1 Third Party Privacy Policies
								p Datoptron - Give meaning to your data's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.
								p You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.

							// content
							.wrap#privacy-ccpa

								h1 CCPA Privacy Rights (Do Not Sell My Personal Information)
								p Under the CCPA, among other rights, California consumers have the right to:
								ul 
									li Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.
									li Request that a business delete any personal data about the consumer that a business has collected.
									li Request that a business that sells a consumer's personal data, not sell the consumer's personal data.
								p If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.

							// content
							.wrap#privacy-gdpr
								h1 GDPR Data Protection Rights
								p We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
								p The right to access - You have the right to request copies of your personal data. We may charge you a small fee for this service.
								p The right to rectification - You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.
								p The right to erasure - You have the right to request that we erase your personal data, under certain conditions.
								p The right to restrict processing - You have the right to request that we restrict the processing of your personal data, under certain conditions.
								p The right to object to processing - You have the right to object to our processing of your personal data, under certain conditions.
								p The right to data portability - You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.
								p If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.

							// content
							.wrap#privacy-children
								h1 Children's Information
								p Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.
								p Datoptron - Give meaning to your data does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.

			// call to action
			section.home-calltoaction
				.container

					// heading
					.text
						h2
							| Discover how you can embrace your data, explore 
							span.green new insights 
							| and drive 
							span.green new value 
							| for your organization
						p We are a group of talented people including researchers, project managers, software developers, ontology engineers and machine learning experts with long experience working with standards and have contributed in the RDF, OWL and SKOS Working Groups of W3C. 
						a( href="contact.html") Let's Work Together
					
					// character
					img.character( src="img/img-character-3.png" )

		// footer
		include ./includes/footer.pug

	// javascript
	include ./includes/script.pug