//- index.jade
- var title = "DATOPTRON - Stirdata"
- var page = "Stirdata"

doctype html
html(lang="en")

	// html head
	head
		include ./includes/head.pug

	// body
	body

		// header
		include ./includes/header.pug

		// page main
		main(role="main")


			// call to action
			section.home-calltoaction
				.container

					// heading
					.text
						h2
							| Discover how you can embrace your data, explore 
							span.green new insights 
							| and drive 
							span.green new value 
							| for your organization
						p We are a group of talented people including researchers, project managers, software developers, ontology engineers and machine learning experts with long experience working with standards and have contributed in the RDF, OWL and SKOS Working Groups of W3C. 
						a( href="contact.html") Let's Work Together
					
					// character
					img.character( src="img/img-character-3.png" )

		// footer
		include ./includes/footer.pug

	// javascript
	include ./includes/script.pug