//- index.jade
- var title = "DATOPTRON - Successful Data Strategy"
- var page = "Successful Data Strategy"

doctype html
html(lang="en")

	// html head
	head
		include ./includes/head.pug

	// body
	body

		// header
		include ./includes/header.pug

		// page main
		main(role="main")

			// banner successful
			section.successful-banner 
				.container 
					
					// row
					.row 

						// col
						.col-xl-5.col-lg-5.left

							// character
							img.character( src="img/img-character-4.png" )

						// col
						.col-xl-7.col-lg-7.col-md-12.right

							// label
							.lbl OUR GOAL

							// text
							h2 
								| Successful 
								span.green Data Strategy
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

							// navigation
							a(href="#") Take a look at our services

			// banner successful
			section.successful-narrative

				// character
				img.oval( src="img/ic-oval-3.png" )

				// container
				.container 

					// heading
					.text
						h2 
							span.green Organised Data 
							| driven by experiences in Semantic Technologies and Machine Learning

					// row
					.row 

						// left
						.col-xl-6.col-lg-6.left
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

						// right
						.col-xl-6.col-lg-6.right 
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			
			// banner successful
			section.successful-approach
				.container

					// center
					.text 

						// label
						.lbl OUR APPROACH 
						h2 
							| Lorem ipsum dolor 
							span.green sit amet
						
					// row
					.row 

						// col
						.col-xl-4.col-lg-4.left

							// oval
							img.oval( src="img/ic-oval-4.png" )

							// num
							span.num 01
							h3 Co-creation with our clients
							p We work with you in a continuous improvement way. Every project is a sort of a “living lab”, following a “co-creation” process. During this co-creation process, we successfully guide our clients through the digital transformation journey by providing “pragmatic” consultancy, showcasing solutions that we have implemented throughout the years.

						// col
						.col-xl-4.col-lg-4.middle 

							// oval
							img.oval( src="img/ic-oval-5.png" )

							// num
							span.num 02
							h3 Co-creation with our clients
							p We work with you in a continuous improvement way. Every project is a sort of a “living lab”, following a “co-creation” process. During this co-creation process, we successfully guide our clients through the digital transformation journey by providing “pragmatic” consultancy, showcasing solutions that we have implemented throughout the years.

						// col
						.col-xl-4.col-lg-4.right

							// oval
							img.oval( src="img/ic-oval-6.png" )

							// num
							span.num 03
							h3 Co-creation with our clients
							p We work with you in a continuous improvement way. Every project is a sort of a “living lab”, following a “co-creation” process. During this co-creation process, we successfully guide our clients through the digital transformation journey by providing “pragmatic” consultancy, showcasing solutions that we have implemented throughout the years.
					 

			// banner successful
			section.successful-testimonial
				.container

					// testimonial box
					.testimonial 

						// row
						.row 

							// col
							.col-xl-3.col-lg-3.left

								// oval
								img.oval( src="img/ic-oval-7.png" )

								// label
								.lbl TESTIMONIAL 
								h2 What do they think of Datoptron
							
							// col
							.col-xl-9.col-lg-9.right

								// label
								.wrap.slick

									// testimonial
									.item
										p.statement Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation perspiciatis unde omnis iste natus error sit voluptatem.
										p.agency Beeld en Geluid
									
									// testimonial
									.item
										p.statement Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. Ut enim ad minim veniam, quis nostrud exercitation.
										p.agency Agency 2
									
									// testimonial
									.item
										p.statement Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. Ut enim ad minim veniam, quis nostrud exercitation.
										p.agency Agency 3




			// call to action
			section.home-calltoaction
				.container

					// heading
					.text
						h2
							| Discover how you can embrace your data, explore 
							span.green new insights 
							| and drive 
							span.green new value 
							| for your organization
						p We are a group of talented people including researchers, project managers, software developers, ontology engineers and machine learning experts with long experience working with standards and have contributed in the RDF, OWL and SKOS Working Groups of W3C. 
						a( href="contact.html") Let's Work Together
					
					// character
					img.character( src="img/img-character-3.png" )

		// footer
		include ./includes/footer.pug

	// javascript
	include ./includes/script.pug