//- index.jade
- var title = "DATOPTRON - Tools & Projects"
- var page = "Tools & Projects"

doctype html
html(lang="en")

	// html head
	head
		include ./includes/head.pug

	// body
	body

		// header
		include ./includes/header.pug

		// page main
		main(role="main")

			// main heading
			section.mainheading
				.container

					// wrap
					.wrap 
						h1 Tools &amp; 
							span.green Platforms
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud. 


			// generic layout
			section.twocolumns.tools
				.container 

					// row
					.row 

						// left
						.col-xl-4.col-lg-12.left

							// heading
							.text
								// oval
								img.oval( src="img/ic-oval-6.png" ) 

								// heads
								h2 Datoptron 
									i Tools
								p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

							// character
							img.character( src="img/img-character-6.png" )
						
						// right
						.col-xl-8.col-lg-12.right.toolslist

							// ul
							.row

								// col
								.col-xxl-4.col-xl-6.col-lg-4.col-md-6.item

									.productwrap
										img.logo(src="img/ic-logo-mint.png")
										a(href="mint.html")
											h3 MINT 
											p Metadata Interoperability Platform aims to systematise and spread knowledge about participatory projects in the field of cultural heritage and beyond.
										a.more(href="mint.html") Learn More
								// col
								.col-xxl-4.col-xl-6.col-lg-4.col-md-6.item

									.productwrap
										img.logo(src="img/ic-logo-crowd.png")
										a(href="mint.html")
											h3 Crowdheritage 
											p CrowdHeritage is an open platform where cultural heritage institutions can share their collections’ metadata that need a fix or enrichment.
										a.more(href="mint.html") Learn More
								// col
								.col-xxl-4.col-xl-6.col-lg-4.col-md-6.item

									.productwrap
										img.logo(src="img/ic-logo-sage.png")
										a(href="mint.html")
											h3 SAGE 
											p SAGE is a semantic enrichment and validation platform developed by the National Technical University of Athens (NTUA).
										a.more(href="mint.html") Learn More

								// col
								.col-xxl-4.col-xl-6.col-lg-4.col-md-6.item
									.productwrap
										img.logo(src="img/ic-logo-d2.png")
										a(href="mint.html")
											h3 D2RML 
											p Language for creating RDF datasets from heterogeneous datasets. The main mechanism of obtaining RDF data from a dataset is a mapping.
										a.more(href="mint.html") Learn More
							
			
			// generic layout
			section.twocolumns.tools
				.container 

					// row
					.row 

						// left
						.col-xl-4.left

							// heading
							.text
								// oval
								img.oval( src="img/ic-oval-6.png" ) 

								// heads
								h2 Datoptron 
									span.green Platforms
								p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

							// character
							img.character( src="img/img-character-5.png" )
						
						// right
						.col-xl-8.right.platformlist

							// ul
							.row

								// col
								.col-xxl-4.col-xl-6.col-lg-4.col-md-6.item

									.productwrap
										img.logo(src="img/ic-logo-with-white.png")
										a(href="withculture.html")
											h3 WITHCulture 
											p WITHCulture aims to systematise and spread knowledge about participatory projects in the field of cultural heritage and beyond.
										a.more(href="withculture.html") Learn More
								// col
								.col-xxl-4.col-xl-6.col-lg-4.col-md-6.item

									.productwrap
										img.logo(src="img/ic-logo-stirdata-white.png")
										a(href="withculture.html")
											h3 STIRData 
											p STIRData Project proposes the use of Linked Data and semantic technologies as the means to overcome the technical barriers that hamper the reuse of open data.
										a.more(href="withculture.html") Learn More
							


			// call to action
			section.home-calltoaction
				.container

					// heading
					.text
						h2
							| Discover how you can embrace your data, explore 
							span.green new insights 
							| and drive 
							span.green new value 
							| for your organization
						p We are a group of talented people including researchers, project managers, software developers, ontology engineers and machine learning experts with long experience working with standards and have contributed in the RDF, OWL and SKOS Working Groups of W3C. 
						a( href="contact.html") Let's Work Together
					
					// character
					img.character( src="img/img-character-3.png" )

		// footer
		include ./includes/footer.pug

	// javascript
	include ./includes/script.pug