footer
	
	// wrap
	.container

		// top
		.top

			// row
			.row 

				// left
				.col-xl-5.col-lg-12.left

					// logo
					img.logo( src="img/ic-logo-white.png" )

					// description
					p.description
						| Datoptron is a spinoff company of the National Technical University of Athens in the area of Artificial Intelligence. 

					// social
					ul.social 
						li 
							a( href="#" ) 
								i.fa-brands.fa-twitter
						li 
							a( href="#" ) 
								i.fa-brands.fa-facebook-f

				// right
				.col-xl-7.col-lg-12.right

					// nav
					nav

						// col
						.footernav
							h3 Tools &amp; Platforms
							.ul 
								li 
									a( href="withculture.html" ) WITHCulture
								li 
									a( href="stirdata.html" ) STIRData  
								li 
									a( href="mint.html" ) MINT
								li 
									a( href="sage.html" ) SAGE
								li 
									a( href="d2rml.html" ) D2RML
								li 
									a( href="crowdheritage.html" ) Crowdheritage
						
						// col
						.footernav
							h3 Services
							.ul 
								li 
									a( href="datatransformation.html" ) Data Transformation
								li 
									a( href="linkeddataintegration.html" ) Linked Data Integration  
								li 
									a( href="linkeddatapublication.html" ) Linked Data Publication
								li 
									a( href="platformdevelopment.html" ) Platform Development
								li 
									a( href="userengagement.html" ) User Engagement
								li 
									a( href="standardsvocabularies.html" ) Use of Standards &amp; Vocabularies
					
						// col
						.footernav
							h3 Navigation
							.ul 
								li 
									a( href="index.html" ) Home
								li 
									a( href="successful.html" ) Successful Data Strategy  
								li 
									a( href="tools.html" ) Tools &amp; Projects
								li 
									a( href="services.html" ) Services
								li 
									a( href="aboutus.html" ) About Us
								li 
									a( href="contact.html" ) Contact Us
						
						

		// bottom
		.bottom 
			p 
				| Datoptron 2022 All Rights Reserved - 
				a(href="privacy.html") Privacy Policy