<footer>
  <!-- wrap-->
  <div class="container">
    <!-- top-->
    <div class="top">
      <!-- row-->
      <div class="row">
        <!-- left-->
        <div class="col-xl-5 col-lg-12 left">
          <!-- logo-->
          <img class="logo" src="{{ site.baseurl }}/assets/img/ic-logo-white.png">
          <!-- description-->
          <p class="description">Datoptron is a spinoff company of the National Technical University of Athens in the area of Artificial Intelligence. </p>
          <!-- social-->
          <ul class="social">
            <li>
              <a href="https://twitter.com/Datoptron" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/datoptron" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- right-->
        <div class="col-xl-7 col-lg-12 right">
          <!-- nav-->
          <nav>
            <!-- col-->
            <div class="footernav">
              <h3>Tools &amp; Platforms</h3>
              <div class="ul">
                <li> <a href="{{ site.baseurl }}/tools/withculture">WITHCulture</a></li>
<!--                <li> <a href="{{ site.baseurl }}/tools/stirdata">STIRData</a></li>-->
                <li> <a href="{{ site.baseurl }}/tools/mint">MINT</a></li>
                <li> <a href="{{ site.baseurl }}/tools/sage">SAGE</a></li>
                <li> <a href="{{ site.baseurl }}/tools/d2rml">D2RML</a></li>
                <li> <a href="{{ site.baseurl }}/tools/crowdheritage">CrowdHeritage</a></li>
              </div>
            </div>
            <!-- col-->
            <!-- TODO: Create the missing pages and reenable this section -->
<!--            <div class="footernav">-->
<!--              <h3>Succesful Data Strategy</h3>-->
<!--              <div class="ul">-->
<!--                <li> <a href="{{ site.baseurl }}/services/datatransformation">Data Transformation</a></li>-->
<!--                <li> <a href="{{ site.baseurl }}/linkeddataintegration">Linked Data Integration  </a></li>-->
<!--                <li> <a href="{{ site.baseurl }}/linkeddatapublication">Linked Data Publication</a></li>-->
<!--                <li> <a href="{{ site.baseurl }}/platformdevelopment">Platform Development</a></li>-->
<!--                <li> <a href="{{ site.baseurl }}/userengagement">User Engagement</a></li>-->
<!--                <li> <a href="{{ site.baseurl }}/standardsvocabularies">Use of Standards &amp; Vocabularies</a></li>-->
<!--              </div>-->
<!--            </div>-->
            <!-- col-->
            <div class="footernav">
              <h3>Navigation</h3>
              <div class="ul">
                <li> <a href="{{ site.baseurl }}/">Home</a></li>
                <li> <a href="{{ site.baseurl }}/services">Services</a></li>
                <li> <a href="{{ site.baseurl }}/now">What We Do Now</a></li>
                <li> <a href="{{ site.baseurl }}/tools">Tools &amp; Platforms</a></li>
                <li> <a href="{{ site.baseurl }}/aboutus">About Us</a></li>
                <li> <a href="{{ site.baseurl }}/contact">Contact Us</a></li>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- bottom-->
    <div class="bottom">
      <p>
         Datoptron {{ site.time | date: '%Y' }} All Rights Reserved - <a href="{{ site.baseurl }}/privacy">Privacy Policy</a></p>
    </div>
  </div>
</footer>
