header

	// oval
	img.decor-oval( src="img/ic-oval-1.png")

	// wrap
	.container.d-flex.align-items-center.navbar

		// logo
		a( href="index.html" )
			img.logo( src="img/ic-logo.png" )
		
		// navigation
		nav.main.collapse#navbarCollapse
			ul 
				li
					a( href="successful.html" ) Successful Data Strategy
				li
					a( href="tools.html" ) Tools &amp; Platforms
				li
					a( href="services.html" ) Services
				li
					a( href="aboutus.html" ) About Us
				li.contact
					a( href="contact.html" ) Contact Us

		// hamburger
		button.navbar-toggler.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon