<header>
  <img class="decor-oval" src="{{ site.baseurl }}/assets/img/ic-oval-1.png">
  <!-- wrap-->
  <div class="container d-flex align-items-center navbar">
    <!-- logo-->
    <a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}{% if page.logoSrc %}{{ page.logoSrc }}{% else %}/assets/img/ic-logo.png{% endif %}"></a>
    <!-- navigation-->
    <nav class="main collapse" id="navbarCollapse">
      <ul>
        <!--<li><a href="{{ site.baseurl }}/successful">Successful Data Strategy</a></li>-->
        <li><a href="{{ site.baseurl }}/tools">Tools &amp; Platforms</a></li>
        <li><a href="{{ site.baseurl }}/services">Successful Data Strategy</a></li>
        <li><a href="{{ site.baseurl }}/aboutus">About Us</a></li>
        <li class="contact"><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
      </ul>
    </nav>
    <!-- hamburger-->
    <button
      class="navbar-toggler collapsed"type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>
