<header>
  <img class="decor-oval" src="/assets/img/ic-oval-1.png">
  <!-- wrap-->
  <div class="container d-flex align-items-center navbar">
    <!-- logo--><a href="/"><img class="logo" src="/assets/img/ic-logo.png"></a>
    <!-- navigation-->
    <nav class="main collapse" id="navbarCollapse">
      <ul>
        <li><a href="/successful">Successful Data Strategy</a></li>
        <li><a href="/tools">Tools &amp; Platforms</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li class="contact"><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    <!-- hamburger-->
    <button
      class="navbar-toggler collapsed"type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>
